@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */
    flex-flow: ;

}

img{
    width: 100%;
}

.item{
    width: 200px;
}

.item.item3{
    background-color: burlywood;
    /* flex-grow: 1;
    flex-shrink: 3; */
    order: -1 ;
    align-self: flex-end;
}
